{% extends "ProyectoWebApp/base.html" %}
   
   
{% load static %} 
  

{% block Contenido %} 


    {% for tienda in Tiendas%}          <!--Modificado (el código de la línea 13 a 26 de "home.html" (Heading)) -->


<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{tienda.imagen.url}}" alt=""  style="width: 50%;">   <!--Modificado (cambie el "src" y el "style )-->
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{tienda.nombre}}</span>                     <!--Modificado -->
            <span class="section-heading-upper">{{tienda.precio}}</span>                                              <!--Modificado -->
          </h2>
          
          <div style="text-align: left; font-size: 0.8em;">
            
            Autor: {{tienda.disponibilidad}}

        </div>
      </div>
    </div>
  </section>



                                     

        {% endfor %}
 
        <section>
            <div style="width:75%; margin: auto; text-align: center; color: white;">  <!--"text-align" es para centrar el texto y el "margin" para centrar el contenido del texto -->
            
                Categorias: 
                
                {% for tienda in Tiendas %}
              
                     {{tienda.categorias}}  

                {% endfor %}
            
             </div>   
         </section>

 {% endblock %}

 <!--SUPER IMPORTANTE :   En la línea 45, el "categorias" es de models linea 26
 Si tu cambias a "categorias_id" (revisar tabla "TiendaU_producto en DB browser)
 entonces te saldrán los números. Pero si pones solo "categorias" entonces te saldrá el nombre de la categoría -->



