{% extends "ProyectoWebApp/base.html" %}
   
{% load static %} 
{% block Contenido %} 


<div class="container">    <!-- dentro del container se pone las cards -->
  
  <div style="float:right;">   <!-- Aquí va la carrito dónde se agregará los productos -->

    {% if request.user.is_authenticated %}

      {% include "carro/widget.html" %}
    
    {% else %}

      <div class="alert alert-danger text-center">Login para ver carro</div>

    {% endif %}

  </div>


  <div class="row">          <!-- poner las tarjetas (card) en filas -->
    {% for tienda in Tiendas%}     

    <div class="col-md-3">   <!-- pone 4 cards por fila -->

    <div class="card" style="width: 100%; margin:5px 5px;">   <!-- con esta "class=card" se crea la tarjetas -->

      <img src="{{tienda.imagen.url}}" class="card-img-top">

        <div class="card-body" style="text-align: center;">

          <h7 class="card-title"> {{tienda.nombre}}</h7>

          <p class="card-text">{{tienda.precio}}</p>
        
        </div>

        <div class="card-footer text-center">                 

          <a href="{% url 'carro:agregar' tienda.id %}" class="btn btn-success">Agregar al carro</a> <!-- con esta "class" del bootstrap se crea el formato del boton -->
                                                                                                       <!-- se pone "carro:agregar" vease en /carro/urls.py  --> 
        </div>

    </div>
    </div>

    {% endfor %}
  </div>
<div>


 {% endblock %}



